appdirs==1.4.3
attrs==21.2.0
yt-dlp[default,curl-cffi]==2024.08.06
pydub==0.18.0
PyQt5==5.15.11
PyInstaller==4.7
furl==1.0.0
pyhamcrest==1.9.0
delegator.py==0.0.10
psutil==5.6.6
factory_boy==2.9.2
pypiwin32; sys_platform == 'win32'
simplejson==3.11.1
git+https://github.com/behave/behave.git#egg=behave
pytest==6.2.5
pytest-qt==4.0.2
certifi==2020.4.5.1
