appdirs==1.4.3
attrs==16.3.0
youtube_dl>=2017.10.15.1
pydub==0.18.0
PyQt5==5.9
PyInstaller==3.3
furl==1.0.0
pyhamcrest==1.9.0
delegator.py==0.0.10
psutil==5.2.2
factory_boy==2.9.2
pypiwin32; sys_platform == 'win32'
simplejson==3.11.1
git+git://github.com/behave/behave@master#egg=behave
pytest==3.2.3
pytest-qt==2.2.1